body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
  display:flex;
}
#u700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:29px;
  height:50px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:28px;
  width:23px;
  height:44px;
  display:flex;
}
#u701 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#434B61;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:27px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#434B61;
}
#u702 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u702_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:453px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:0px 6px 18px rgba(15, 68, 126, 0.0784313725490196);
  -webkit-box-shadow:0px 6px 18px rgba(15, 68, 126, 0.0784313725490196);
  box-shadow:0px 6px 18px rgba(15, 68, 126, 0.0784313725490196);
}
#u703 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:100px;
  width:964px;
  height:453px;
  display:flex;
}
#u703 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:453px;
  background:-webkit-linear-gradient(302.59197192326deg, rgba(0, 230, 157, 1) 0%, rgba(16, 232, 247, 1) 93%);
  background:-moz-linear-gradient(147.40802807674deg, rgba(0, 230, 157, 1) 0%, rgba(16, 232, 247, 1) 93%);
  background:linear-gradient(147.40802807674deg, rgba(0, 230, 157, 1) 0%, rgba(16, 232, 247, 1) 93%);
  border:none;
  border-radius:14px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 6px 18px rgba(44, 215, 206, 0.368627450980392);
  -webkit-box-shadow:0px 6px 18px rgba(44, 215, 206, 0.368627450980392);
  box-shadow:0px 6px 18px rgba(44, 215, 206, 0.368627450980392);
}
#u704 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:100px;
  width:260px;
  height:453px;
  display:flex;
}
#u704 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:358px;
  width:180px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u705 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:0px 6px 18px rgba(15, 68, 126, 0.0784313725490196);
  -webkit-box-shadow:0px 6px 18px rgba(15, 68, 126, 0.0784313725490196);
  box-shadow:0px 6px 18px rgba(15, 68, 126, 0.0784313725490196);
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#00E69D;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:439px;
  width:180px;
  height:64px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#00E69D;
}
#u706 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-12px;
  width:176px;
  height:176px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:203px;
  width:140px;
  height:140px;
  display:flex;
}
#u708 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:215px;
  width:116px;
  height:116px;
}
#u709_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(67, 75, 97, 1);
  background-image:none;
  border:none;
  border-radius:58px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:163px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:-19px;
  width:245px;
  height:163px;
  display:flex;
}
#u710 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-transform:uppercase;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:122px;
  width:168px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-transform:uppercase;
}
#u711 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#BCFFEA;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:158px;
  width:222px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#BCFFEA;
}
#u712 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#00E69D;
  text-transform:uppercase;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:0px;
  width:180px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#00E69D;
  text-transform:uppercase;
}
#u713 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:52px;
  background:inherit;
  background-color:rgba(230, 246, 255, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:123px;
  width:280px;
  height:52px;
  display:flex;
}
#u714 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:125px;
  width:138px;
  height:48px;
  display:flex;
}
#u715 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#9DADC0;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:125px;
  width:138px;
  height:48px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#9DADC0;
}
#u716 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u716_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#9DADC0;
}
#u716.selected {
}
#u716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#9DADC0;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:125px;
  width:138px;
  height:48px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#9DADC0;
}
#u717 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u717_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#9DADC0;
}
#u717.selected {
}
#u717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:left;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:203px;
  width:65px;
  height:30px;
  display:flex;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:left;
}
#u718 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u718_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:267px;
  width:294px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.379436701418979deg);
  -moz-transform:rotate(0.379436701418979deg);
  -ms-transform:rotate(0.379436701418979deg);
  transform:rotate(0.379436701418979deg);
}
#u719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:322px;
  width:294px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.379436701418979deg);
  -moz-transform:rotate(0.379436701418979deg);
  -ms-transform:rotate(0.379436701418979deg);
  transform:rotate(0.379436701418979deg);
}
#u720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:377px;
  width:294px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.379436701418979deg);
  -moz-transform:rotate(0.379436701418979deg);
  -ms-transform:rotate(0.379436701418979deg);
  transform:rotate(0.379436701418979deg);
}
#u721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:432px;
  width:294px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.379436701418979deg);
  -moz-transform:rotate(0.379436701418979deg);
  -ms-transform:rotate(0.379436701418979deg);
  transform:rotate(0.379436701418979deg);
}
#u722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:123px;
  width:300px;
  height:400px;
}
#u723_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u723_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#434B61;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:225px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#434B61;
}
#u724 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u724_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#9DADC0;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:122px;
  height:84px;
  display:flex;
  font-size:24px;
  color:#9DADC0;
}
#u725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u725_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#9DADC0;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:50px;
  width:122px;
  height:84px;
  display:flex;
  font-size:24px;
  color:#9DADC0;
}
#u726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u726_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#9DADC0;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:115px;
  height:84px;
  display:flex;
  font-size:24px;
  color:#9DADC0;
}
#u727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u727_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#9DADC0;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:149px;
  width:115px;
  height:84px;
  display:flex;
  font-size:24px;
  color:#9DADC0;
}
#u728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#434B61;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:113px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#434B61;
}
#u729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u729_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#434B61;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:269px;
  height:330px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#434B61;
}
#u730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:487px;
  width:294px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.379436701418979deg);
  -moz-transform:rotate(0.379436701418979deg);
  -ms-transform:rotate(0.379436701418979deg);
  transform:rotate(0.379436701418979deg);
}
#u731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:476px;
  width:12px;
  height:30px;
  display:flex;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
}
#u732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u732_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:418px;
  width:23px;
  height:30px;
  display:flex;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
}
#u733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u733_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:363px;
  width:23px;
  height:30px;
  display:flex;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
}
#u734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u734_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:308px;
  width:23px;
  height:30px;
  display:flex;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
}
#u735 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u735_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:253px;
  width:23px;
  height:30px;
  display:flex;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
}
#u736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u736_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:center;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:500px;
  width:21px;
  height:30px;
  display:flex;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:center;
}
#u737 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u737_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:center;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:500px;
  width:21px;
  height:30px;
  display:flex;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:center;
}
#u738 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u738_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:center;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:500px;
  width:21px;
  height:30px;
  display:flex;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:center;
}
#u739 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u739_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:center;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:500px;
  width:21px;
  height:30px;
  display:flex;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:center;
}
#u740 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u740_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:299px;
  height:126px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:310px;
  width:294px;
  height:121px;
  display:flex;
}
#u741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:center;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:500px;
  width:21px;
  height:30px;
  display:flex;
  font-family:'NotoSansHans-Regular', 'Noto Sans S Chinese';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#8799AD;
  text-align:center;
}
#u742 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u742_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
