body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(247, 251, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u370 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
  -webkit-box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
  box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
}
#u372 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:197px;
  width:351px;
  height:100px;
  display:flex;
}
#u372 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u372_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 189, 0, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
  -webkit-box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
  box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
}
#u372.selected {
}
#u372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:70px;
  color:#EEEEEE;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:197px;
  width:132px;
  height:100px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:70px;
  color:#EEEEEE;
}
#u373 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:center;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:222px;
  width:134px;
  height:50px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:center;
}
#u374 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#1EBD00;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:222px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#1EBD00;
}
#u375 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:98px;
  width:253px;
  height:66px;
  display:flex;
  font-family:'';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u376 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u376_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
  -webkit-box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
  box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
}
#u378 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:309px;
  width:351px;
  height:100px;
  display:flex;
}
#u378 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u378_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(30, 189, 0, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
  -webkit-box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
  box-shadow:0px 0px 8px rgba(87, 118, 140, 0.101960784313725);
}
#u378.selected {
}
#u378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:70px;
  color:#EEEEEE;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:309px;
  width:132px;
  height:100px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:70px;
  color:#EEEEEE;
}
#u379 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:center;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:334px;
  width:134px;
  height:50px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:center;
}
#u380 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#1EBD00;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:334px;
  width:50px;
  height:50px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#1EBD00;
}
#u381 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u382 {
  position:absolute;
  left:0px;
  top:0px;
}
#u382_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u382_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:#333333;
  line-height:28px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'';
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:#333333;
  line-height:28px;
}
#u383 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  display:flex;
}
#u385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:10px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:5px;
  width:349px;
  height:10px;
  display:flex;
}
#u386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:4px;
  width:27px;
  height:12px;
  display:flex;
}
#u387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#333333;
  line-height:normal;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:44px;
  height:44px;
  display:flex;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#333333;
  line-height:normal;
}
#u388 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u388_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#333333;
  line-height:normal;
}
#u388.mouseDown {
}
#u388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
