body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:375px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:375px;
  display:flex;
}
#u424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:375px;
  width:375px;
  height:292px;
  display:flex;
}
#u425 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:409px;
  width:315px;
  height:44px;
  display:flex;
  font-family:'';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
}
#u426 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:200;
  font-style:normal;
  color:#007AFF;
  text-align:center;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:409px;
  width:81px;
  height:44px;
  display:flex;
  font-family:'';
  font-weight:200;
  font-style:normal;
  color:#007AFF;
  text-align:center;
}
#u427 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u428_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:44px;
  padding:1px 0px 1px 12px;
  font-family:'';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u428_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:44px;
  padding:1px 0px 1px 12px;
  font-family:'';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:478px;
  width:315px;
  height:44px;
  display:flex;
  font-family:'';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u428 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u428_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u428.disabled {
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Free-Regular', 'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:478px;
  width:44px;
  height:44px;
  display:flex;
  font-family:'FontAwesome5Free-Regular', 'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u429 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:44px;
  background:inherit;
  background-color:rgba(30, 189, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(213, 255, 206, 1);
  -webkit-box-shadow:0px 4px 12px rgba(213, 255, 206, 1);
  box-shadow:0px 4px 12px rgba(213, 255, 206, 1);
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:557px;
  width:315px;
  height:44px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u430_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:44px;
  background:inherit;
  background-color:rgba(22, 157, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(213, 255, 206, 1);
  -webkit-box-shadow:0px 4px 12px rgba(213, 255, 206, 1);
  box-shadow:0px 4px 12px rgba(213, 255, 206, 1);
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u430.mouseDown {
}
#u430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:624px;
  width:148px;
  height:18px;
  display:flex;
  font-family:'';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u431_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:178px;
  width:124px;
  height:94px;
}
#u432_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:94px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u432_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:68px;
  width:32px;
  height:26px;
  display:flex;
}
#u433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u432_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:94px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u432_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:34px;
  width:78px;
  height:32px;
  display:flex;
}
#u434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:68px;
  width:32px;
  height:26px;
  display:flex;
}
#u435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u432_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:94px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u432_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
  display:flex;
}
#u436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:34px;
  width:78px;
  height:32px;
  display:flex;
}
#u437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:68px;
  width:32px;
  height:26px;
  display:flex;
}
#u438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u432_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:94px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u432_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u439 {
  position:fixed;
  left:0px;
  top:0px;
}
#u439_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u439_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:#333333;
  line-height:28px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'';
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:#333333;
  line-height:28px;
}
#u440 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  color:#333333;
  line-height:normal;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:44px;
  height:44px;
  display:flex;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  color:#333333;
  line-height:normal;
}
#u441 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u441_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  color:#333333;
  line-height:normal;
}
#u441.mouseDown {
  opacity:0.5;
}
#u441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  display:flex;
}
#u443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:10px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:5px;
  width:349px;
  height:10px;
  display:flex;
}
#u444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:4px;
  width:27px;
  height:12px;
  display:flex;
}
#u445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
