body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u5638 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:82px;
  width:351px;
  height:48px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u5640 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:24px;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:82px;
  width:351px;
  height:48px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:24px;
}
#u5641 .text {
  position:absolute;
  align-self:center;
  padding:0px 12px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5642 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:375px;
  height:305px;
  visibility:hidden;
}
#u5642_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:305px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.6);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5642_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:305px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:305px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u5644 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:20px;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:20px;
}
#u5645 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u5646 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u5647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:375px;
  height:260px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u5647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#20CD85;
  line-height:20px;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:75px;
  height:45px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#20CD85;
  line-height:20px;
}
#u5648 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:375px;
  height:35px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u5649 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5650 {
  position:absolute;
  left:113px;
  top:716px;
  visibility:hidden;
}
#u5650_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:110px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5650_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5652_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:160px;
  height:120px;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:110px;
  display:flex;
  color:#FFFFFF;
  line-height:36px;
}
#u5652 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5650_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:268px;
  height:325px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5650_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5654_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:170px;
  height:60px;
}
#u5654 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:275px;
  width:160px;
  height:50px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5654 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u5654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5650_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:268px;
  height:325px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5650_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5655_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:170px;
  height:60px;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:275px;
  width:160px;
  height:50px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5655 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u5655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:318px;
  width:335px;
  height:41px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u5656 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:359px;
  width:80px;
  height:80px;
}
#u5657_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5657_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5658 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5658_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5658.mouseDown {
}
#u5658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5657_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5657_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u5659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u5659 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u5660 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u5660 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5661 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:359px;
  width:80px;
  height:80px;
}
#u5661_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5661_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u5662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u5662 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u5663 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u5663 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5661_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5661_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5664 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5664_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5664.mouseDown {
}
#u5664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:359px;
  width:80px;
  height:80px;
}
#u5665_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5665_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u5666 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u5667 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5665_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5665_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5668 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5668_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5668.mouseDown {
}
#u5668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:359px;
  width:80px;
  height:80px;
}
#u5669_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5669_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u5670 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u5671 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5669_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5669_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5672 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5672_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u5672.mouseDown {
}
#u5672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:144px;
  width:351px;
  height:160px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u5674 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5674_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u5674.selected {
}
#u5674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:144px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u5675_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:144px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u5675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:153px;
  width:335px;
  height:144px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u5675 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5675_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:144px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u5675.disabled {
}
#u5676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:28px;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:264px;
  width:112px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:28px;
}
#u5676 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5677 {
  position:fixed;
  left:0px;
  top:0px;
}
#u5677_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5677_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:#333333;
  line-height:28px;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'';
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:#333333;
  line-height:28px;
}
#u5678 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  color:#333333;
  line-height:normal;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:44px;
  height:44px;
  display:flex;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  color:#333333;
  line-height:normal;
}
#u5679 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5679_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  color:#333333;
  line-height:normal;
}
#u5679.mouseDown {
  opacity:0.5;
}
#u5679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  display:flex;
}
#u5681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:10px;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:5px;
  width:349px;
  height:10px;
  display:flex;
}
#u5682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:4px;
  width:27px;
  height:12px;
  display:flex;
}
#u5683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:44px;
  background:-webkit-linear-gradient(352.85489396766deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:-moz-linear-gradient(97.1451060323398deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:linear-gradient(97.1451060323398deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  -webkit-box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:523px;
  width:351px;
  height:44px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u5684 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5684_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:44px;
  background:-webkit-linear-gradient(352.85489396766deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:-moz-linear-gradient(97.1451060323398deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:linear-gradient(97.1451060323398deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  -webkit-box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u5684.mouseDown {
  opacity:0.8;
}
#u5684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:-webkit-linear-gradient(315deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:linear-gradient(135deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:596px;
  width:24px;
  height:24px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u5686 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#23E673;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:597px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#23E673;
}
#u5687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5687_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
