body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u6239 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u6241 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:82px;
  width:351px;
  height:48px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u6241 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:24px;
}
#u6242 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:82px;
  width:351px;
  height:48px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:24px;
}
#u6242 .text {
  position:absolute;
  align-self:center;
  padding:0px 12px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6243 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:375px;
  height:305px;
  visibility:hidden;
}
#u6243_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:305px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.6);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6243_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:305px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u6245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:305px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u6245 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:20px;
}
#u6246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:20px;
}
#u6246 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u6247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u6247 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u6248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:375px;
  height:260px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u6248 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#20CD85;
  line-height:20px;
}
#u6249 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:75px;
  height:45px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#20CD85;
  line-height:20px;
}
#u6249 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u6250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:375px;
  height:35px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u6250 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6251 {
  position:absolute;
  left:113px;
  top:716px;
  visibility:hidden;
}
#u6251_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:110px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6251_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6253_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:160px;
  height:120px;
}
#u6253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:110px;
  display:flex;
  color:#FFFFFF;
  line-height:36px;
}
#u6253 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6251_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:268px;
  height:325px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6251_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6255_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:170px;
  height:60px;
}
#u6255 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:275px;
  width:160px;
  height:50px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6255 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6251_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:268px;
  height:325px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6251_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6256_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:170px;
  height:60px;
}
#u6256 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:275px;
  width:160px;
  height:50px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6256 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u6257 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:318px;
  width:335px;
  height:41px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u6257 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6258 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:359px;
  width:80px;
  height:80px;
}
#u6258_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6258_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6259 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6259_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6259.mouseDown {
}
#u6259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6258_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6258_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6260 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u6261 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u6261 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6262 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:359px;
  width:80px;
  height:80px;
}
#u6262_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6262_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6263 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u6264 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u6264 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6262_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6262_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6265 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6265_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6265.mouseDown {
}
#u6265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6266 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:359px;
  width:80px;
  height:80px;
}
#u6266_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6266_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6267 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u6268 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u6268 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6266_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6266_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6269 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6269_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6269.mouseDown {
}
#u6269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6270 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:359px;
  width:80px;
  height:80px;
}
#u6270_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6270_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
#u6271 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u6272 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:20px;
}
#u6272 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6270_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6270_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6273 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6273_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', 'FontAwesome Regular';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
  line-height:28px;
}
#u6273.mouseDown {
}
#u6273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u6275 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:144px;
  width:351px;
  height:160px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u6275 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6275_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u6275.selected {
}
#u6275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:144px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u6276_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:144px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u6276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u6276 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:153px;
  width:335px;
  height:144px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u6276 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6276_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:144px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u6276.disabled {
}
#u6277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:28px;
}
#u6277 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:264px;
  width:112px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:28px;
}
#u6277 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6278 {
  position:fixed;
  left:0px;
  top:0px;
}
#u6278_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6278_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:#333333;
  line-height:28px;
}
#u6279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'';
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:#333333;
  line-height:28px;
}
#u6279 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  color:#333333;
  line-height:normal;
}
#u6280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:44px;
  height:44px;
  display:flex;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  color:#333333;
  line-height:normal;
}
#u6280 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6280_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome5Free-Solid', 'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
  color:#333333;
  line-height:normal;
}
#u6280.mouseDown {
  opacity:0.5;
}
#u6280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  display:flex;
}
#u6282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:10px;
}
#u6283 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:5px;
  width:349px;
  height:10px;
  display:flex;
}
#u6283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u6284 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:4px;
  width:27px;
  height:12px;
  display:flex;
}
#u6284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:44px;
  background:-webkit-linear-gradient(352.85489396766deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:-moz-linear-gradient(97.1451060323398deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:linear-gradient(97.1451060323398deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  -webkit-box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u6285 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:523px;
  width:351px;
  height:44px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u6285 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6285_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:44px;
  background:-webkit-linear-gradient(352.85489396766deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:-moz-linear-gradient(97.1451060323398deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:linear-gradient(97.1451060323398deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  -webkit-box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  box-shadow:5px 5px 5px rgba(30, 189, 0, 0.0784313725490196);
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u6285.mouseDown {
  opacity:0.8;
}
#u6285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:-webkit-linear-gradient(315deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  background:linear-gradient(135deg, rgba(34, 230, 115, 1) 0%, rgba(33, 229, 114, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u6287 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:596px;
  width:24px;
  height:24px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u6287 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#23E673;
}
#u6288 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:597px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#23E673;
}
#u6288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6288_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
